<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <style media="screen" type="text/css">

      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-color: #bdbdbd;
      }

      main {
        flex: 1 0 auto;
      }

      .support {
        height: 100%;
        padding: 10px 0 10px 0;
        float: right;
      }

      .customer {
        height: 100%;
        padding: 10px 0 10px 0;
      }

      .name{
        text-shadow: 1px 1px 1px black;
      }

      .links{
        text-shadow: 1px 1px 1px black;
      }

      .header {
        height:30px;
        margin-right:10px;
      }

      .welcome {
        padding:10px 0 10px 0;
        font-size: 20px;
        text-align: center;
      }

    </style>
    <link rel="icon" href="/images/newrelic.png">
    <title>New Relic Challenge</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper indigo lighten-1">
        <a href="/" class="brand-logo center"><img class="header" src="/images/newrelic.png" alt="">Hello New Relic Team!</a>
      </div>
    </nav>

    <div class="container">
      <p class="welcome">Thanks and welcome to my challenge application created using Node.js. Below you will find a mock support discussion between myself and a user (also myself :P) having trouble getting the New Relic Agent installed on their site.</p>

      <div class="container left">
        <span class="new badge" data-badge-caption="Customer Me" style="float:left;"></span><br>
        <img class="customer" src="/images/convo1.png" alt="">
      </div>

      <div class="container right">
        <span class="new badge" data-badge-caption="Support Technician Me" style="float:right;"></span><br>
        <img class="support" src="/images/convo2.png" alt="">
      </div>

      <div class="container left">
        <span class="new badge" data-badge-caption="Customer Me" style="float:left;"></span><br>
        <img class="customer" src="/images/convo3.png" alt="">
      </div>
    </div>

    <div class="container right">
      <span class="new badge" data-badge-caption="Support Technician Me" style="float:right;"></span><br>
      <img class="support" src="/images/convo4.png" alt="">
    </div>

    <div class="container left">
      <span class="new badge" data-badge-caption="Customer Me" style="float:left;"></span><br>
      <img class="customer" src="/images/convo5.png" alt="">
      <img class="customer" src="/images/codesnippet.png" alt="">
    </div>

    <div class="container right">
      <span class="new badge" data-badge-caption="Support Technician Me" style="float:right;"></span><br>
      <img class="support" src="/images/convo6.png" alt="">
    </div>

    <div class="container left">
      <span class="new badge" data-badge-caption="Customer Me" style="float:left;"></span><br>
      <img class="customer" src="/images/convo7.png" alt="">
      <img class="customer" src="/images/codesnippet1.png" alt="">
      <img class="customer" src="/images/codesnippet2.png" alt="">
    </div>

    <div class="container right">
      <span class="new badge" data-badge-caption="Support Technician Me" style="float:right;"></span><br>
      <img class="support" src="/images/convo8.png" alt="">
      <img class="support" src="/images/codesnippet3.png" alt="">
    </div>

    <div class="container left">
      <span class="new badge" data-badge-caption="Customer Me" style="float:left;"></span><br>
      <img class="customer" src="/images/convo9.png" alt="">
    </div>

    <div class="container right">
      <span class="new badge" data-badge-caption="Support Technician Me" style="float:right;"></span><br>
      <img  class="support" src="/images/convo10.png" alt="">
    </div>

    <div class="container">
      <p class="welcome">My hope with this exercise is to give an accurate representation of a support conversation. Sometimes, small mistakes are made (like trying to require the New Relic agent in a .json file instead of in a .js file :)). It happens!</p>
      <p class="welcome">In my opinion, if you can approach the situation in a helpful, polite, and constructive way, New Relic customers will enjoy and appreciate the interaction. Be supportive, don't ever make them feel wrong or incapable, and be happy to provide the service. In short, always work to be on their team! Thanks again for giving me the chance to participate in this exercise. I thoroughly enjoyed this process, and I look forward to hearing from you soon! </p>
    </div>
  </div>



    <footer class="page-footer teal darken-3">
       <div class="container">
         <div class="row">
           <div class="col l6 s12">
             <h5 class="name white-text">Adam Ross Russell</h5>
             <p class="name grey-text text-lighten-4">Thanks for stopping by!</p>
           </div>
           <div class="col l4 offset-l2 s12">
             <h5 class="name" class="white-text">Links</h5>
             <ul>
               <li><a class="links blue-text text-lighten-3" href="https://www.linkedin.com/in/adamrossrussell">My LinkedIn</a></li>
               <li><a class="links blue-text text-lighten-3" href="https://rpm.newrelic.com/accounts/1770576/applications/96885247">This Site's New Relic Dashboard Link</a></li>
               <li><a class="links blue-text text-lighten-3" href="https://github.com/adamrr724">My Github</a></li>
             </ul>
           </div>
         </div>
       </div>
    </footer>

  </body>
</html>
