<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <title>New Relic Challenge</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper indigo lighten-1">
        <a href="/" class="brand-logo center">Hello New Relic!</a>
      </div>
    </nav>
    <div class="container">
      <h6>Thanks and welcome to my challenge application created in Express.js using Node. Below you will find a mock support discussion between myself and a user having trouble getting the New Relic Agent installed on their site.</h6>
    </div>

    <footer class="page-footer">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Adam Ross Russell</h5>
               <p class="grey-text text-lighten-4">Thanks for stopping by!</p>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text">Links</h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="www.linkedin.com/in/adamrossrussell">LinkedIn</a></li>
                 <li><a class="grey-text text-lighten-3" href="github.com/adamrr724">This Code's Github Link</a></li>
                 <li><a class="grey-text text-lighten-3" href="www.arossrussell.com">Arossrussell.com</a></li>
               </ul>
             </div>
           </div>
         </div>
       </footer>

  </body>
</html>
